.3_21 { 
	overflow:hidden;
}
.e3_21 { 
	background-color:rgba(14.875000063329935, 12.581770867109299, 12.581770867109299, 1);
	width:1728px;
	height:1117px;
	position:absolute;
}
.e3_25 { 
	color:rgba(255, 255, 255, 1);
	width:797px;
	height:54px;
	position:absolute;
	left:42px;
	top:74px;
	font-family:Inter;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
.e3_27 { 
	width:63px;
	height:74px;
	position:absolute;
	left:1648px;
	top:14px;
	background-image:url(images/apple-logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e4_5 { 
	width:890px;
	height:761px;
	position:absolute;
	left:790px;
	top:178px;
	background-image:url(images/iPhone15-allcolors.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e4_11 { 
	color:rgba(255, 255, 255, 1);
	width:341px;
	height:52px;
	position:absolute;
	left:1065px;
	top:962px;
	font-family:Source Serif Pro;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e4_13 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:583px;
	height:50px;
	position:absolute;
	left:117px;
	top:858px;
	font-family:Roboto;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}
.e4_18 { 
	color:rgba(255, 255, 255, 1);
	width:651px;
	height:36px;
	position:absolute;
	left:-74px;
	top:1079px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e4_19 { 
	color:rgba(255, 255, 255, 1);
	width:361px;
	height:34px;
	position:absolute;
	left:1418px;
	top:1079px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e7_454 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:628px;
	height:78px;
	position:absolute;
	left:94px;
	top:520px;
	background-image:url(images/apple-intellignece.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e7_458 { 
	color:rgba(255, 255, 255, 1);
	width:674px;
	height:96px;
	position:absolute;
	left:71px;
	top:434px;
	font-family:Roboto;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}
